@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}

.bg-theme-main {
    background-color: #000000;
    
}

.text-color-theme {
    color: #f7ce3d;
}